﻿@using QuanLyNhanSu.Data.ViewModel;
@using QuanLyNhanSu.Common.Constants;
@model List<QLNghiViecGetAllViewModel>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js"></script>
<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Tên nhân viên</th>
                <th style="text-align:center">Tài sản cấp phát</th>
                <th style="text-align:center">Ghi chú</th>
                <th style="text-align:center">Tạo lúc</th>
                <th style="text-align:center">Trạng thái</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nhanVien.Ten</td>
                        @if (item.dM_TaiSanCapPhats.Count > 0)
                        {
                            <td>
                                @foreach (var tscp in item.dM_TaiSanCapPhats)
                                {
                                    <p>@tscp.MaTaiSanCapPhat - @tscp.TenTaiSanCapPhat - Số lượng : @tscp.SoLuong</p>
                                }
                            </td>
                            <td>@item.qlnghiviec.Note</td>

                            <td>@item.qlnghiviec.TaoLuc <br />@item.qlnghiviec.TaoBoi</td>

                            <td>
                                @if (item.nhanVien_TSCP.TrangThai == SystemConstants.Web.TRANGTHAI_NGHIVIEC_CHOPHEDUYET)
                                {
                                    <span>Chờ phê duyệt</span>
                                }
                                else if (item.nhanVien_TSCP.TrangThai == SystemConstants.Web.TRANGTHAI_NGHIVIEC_DAPHEDUYET)
                                {
                                    <span>Đã phê duyệt</span>
                                }
                                else
                                {
                                    <span>Không xác định</span>
                                }
                            </td>
                            <td style="text-align:center">
                                <button type="button" onclick="opendetail('@item.qlnghiviec.Id', '@item.nhanVien.Ten (@item.nhanVien.IdCBNV)', '@item.qlnghiviec.Note','@item.qlnghiviec.TrangThai')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Cập nhật</button>
                                <button type="button" onclick="confirmremove('@item.qlnghiviec.Id')" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                N/A
                            </td>
                            <td>@item.qlnghiviec.Note</td>

                            <td>@item.qlnghiviec.TaoLuc <br />@item.qlnghiviec.TaoBoi</td>

                            <td>
                                @if (item.nhanVien_TSCP.TrangThai == SystemConstants.Web.TRANGTHAI_NGHIVIEC_CHOPHEDUYET)
                                {
                                    <span>Chờ phê duyệt</span>
                                }
                                else if (item.nhanVien_TSCP.TrangThai == SystemConstants.Web.TRANGTHAI_NGHIVIEC_DAPHEDUYET)
                                {
                                    <span>Đã phê duyệt</span>
                                }
                                else
                                {
                                    <span>Không xác định</span>
                                }
                            </td>
                            <td style="text-align:center">
                                <button type="button" onclick="opendetail('@item.qlnghiviec.Id', '@item.nhanVien.Ten (@item.nhanVien.IdCBNV)', '@item.qlnghiviec.Note','@item.qlnghiviec.TrangThai')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Cập nhật</button>
                                <button type="button" onclick="confirmremove('@item.qlnghiviec.Id')" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                            </td>
                        }

                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>