﻿@using QuanLyNhanSu.Common.Constants
@{ ViewData["Title"] = "Quản lý nghỉ việc"; }
@section Scripts{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Quản lý nghỉ việc
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Quản lý nghỉ việc</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Quản lý nghỉ việc</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="Id_edit" name="Id_edit" />
                <input hidden id="ObjId_edit" name="ObjId_edit" />
                <input hidden id="type" name="type" />
                <div class="form-group">
                    <h5>Nhân viên<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" disabled class="form-control" id="ten_nv" name="ten_nv" readonly> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Note<span class="text-danger"></span></h5>
                    <div class="controls">
                        <textarea type="text" rows="3" class="form-control" id="noidung" name="noidung"></textarea> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger"></span></h5>
                    <div class="controls">
                        <select class="form-control" id="trangthai">
                            <option value="@SystemConstants.Web.TRANGTHAI_NGHIVIEC_DAPHEDUYET">Chờ phê duyệt</option>
                            <option value="@SystemConstants.Web.TRANGTHAI_NGHIVIEC_CHOPHEDUYET">Đã phê duyệt</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Cập nhật</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa bản ghi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.content-wrapper -->
<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        LoadListData();
    });
    function confirmremove(id) {
        $('#IdXoa').val(id);
    }
    function opendetail(id, tennv, note,stt) {
        $('#noidung').val(note);
        $('#note').val(note);
        $('#ten_nv').val(tennv);
        $('#Id_edit').val(id);
        $('#trangthai').val(stt);
    }
    function LoadListData() {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "QLNghiViec")',
            type: "GET",
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
    $('#btnEdit').click(function () {
        var id = $('#Id_edit').val();
        var note = $('#noidung').val();
        var trangthai = $('#trangthai').val();

        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("CapNhat", "QLNghiViec")',
                    type: "get",
                    data: { id: id, note: note, trangthai: trangthai},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "QLNghiViec")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
