﻿@using QuanLyNhanSu.Model.Entities
@model List<DM_PhuCap>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Mã phụ cấp</th>
                <th style="text-align:center">Loại thưởng</th>
                <th style="text-align:center">Nguồn chi</th>
                <th style="text-align:center">Số tiền được hưởng theo lương CB</th>
                <th style="text-align:center">Ghi chú</th>
                <th style="text-align:center">Trạng thái</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>@item.MaPhuCap</td>
                <td>@item.LoaiThuong</td>
                <td>@item.NguonChi</td>
                <td>@item.SoTienTheoLuongCB %</td>
                <td>@item.GhiChu</td>
                @if (item.TrangThai == 1)
                {
                    <td>Kích hoạt</td>
                }
                else
                {
                    <td>Khóa kích hoạt</td>
                }
                <td style="text-align:center">
                    <button type="button" onclick="opendetail('@item.Id', '@item.MaPhuCap', '@item.LoaiThuong', '@item.NguonChi', '@item.SoTienTheoLuongCB', '@item.GhiChu', '@item.TrangThai')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Sửa</button>
                    <button type="button" onclick="confirmremove(@item.Id)" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                </td>
            </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>