﻿@using QuanLyNhanSu.Data.ViewModel;
@using QuanLyNhanSu.Model.Entities;
@model NhanVien_HopDongViewModel;

@{ ViewData["Title"] = "Thêm mới Hợp đồng lao động";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DM_LoaiHopDong> lsthd = (List<DM_LoaiHopDong>)ViewBag.lstDM_HD;
    List<HeSoLuong> lsthsl = (List<HeSoLuong>)ViewBag.lstHSL; }

@section Scripts{
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hợp đồng lao động
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","NhanVien")"><i class="fa fa-dashboard"></i> Hợp đồng lao động</a></li>
            <li class="breadcrumb-item active">Thêm mới</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form asp-action="Create" id="createForm" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="control-label">Tên nhân viên</label>
                                <p class="form-control" style="line-height: 2.75rem;">@Model.TenNV</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mã hợp đồng</label>
                                <input asp-for="MaHopDong" class="form-control" />
                                <span asp-validation-for="MaHopDong" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Loại hợp đồng lao động</label>
                                <select id="hdld" class="form-control">
                                    <option value="0">Chọn loại hợp đồng lao động</option>
                                    @foreach (var item in lsthd)
                                    {
                        <option value="@item.Id">@item.MaLoaiHopDong - @item.TenLoaiHopDong</option>
}
                                </select>
                                <input hidden id="hdld_value" asp-for="IdLoaiHopDong" class="form-control" />
                                <input hidden asp-for="IdNhanVien" value="@Model.IdNhanVien" class="form-control" />
                                <input hidden asp-for="Email" value="@Model.Email" class="form-control" />
                                <input hidden asp-for="TenNV" class="form-control" />
                                <input hidden id="tenhdld_value" asp-for="TenLoaiHD" class="form-control" />
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Lương cơ bản</label>
                                    <input id="luongcb_value" asp-for="LuongCB" class="form-control" />
                                    <span asp-validation-for="LuongCB" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Hệ số lương</label>
                                    <select id="hsl" class="form-control">
                                        <option value="0">Chọn loại hệ số lương</option>
                                        @foreach (var item in lsthsl)
                                        {
                            <option value="@item.Id">@item.Ten - @item.HeSo</option>
}
                                    </select>
                                    <input hidden id="hsl_value" asp-for="IdHeSoLuong" class="form-control" />
                                    <span asp-validation-for="IdHeSoLuong" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Ngày bắt đầu</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input asp-for="NgayBatDau" type="date" class="form-control pull-right" id="datepicker">
                                    </div>
                                    <span asp-validation-for="NgayBatDau" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Ngày kết thúc</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input asp-for="NgayKetThuc" type="date" class="form-control pull-right" id="datepicker">
                                    </div>
                                    <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Ngày ký</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input asp-for="NgayKy" type="date" class="form-control pull-right" id="datepicker">
                                    </div>
                                    <span asp-validation-for="NgayKy" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Người ký</label>
                                    <input asp-for="NguoiKy" type="text" class="form-control" />
                                    <span asp-validation-for="NguoiKy" class="text-danger"></span>
                                </div>
                            </div>        
                            <input hidden id="trangthai_value" value="1" asp-for="TrangThai" class="form-control" />
                            <div class="form-group">
                                <a href="@Url.Action("Index","LichSuHopDong")" class="btn btn-warning">Quay lại</a>
                                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<script>
    $('#hdld').on('change', function () {
        $('#hdld_value').val(this.value);
        $('#tenhdld_value').val(this.text);
    });
    $('#hsl').on('change', function () {
        $('#hsl_value').val(this.value);
    });    
    $('input[type=radio][name=gioitinh]').change(function () {
        $('#gioitinh_value').val(this.value);
    });
    $('#createForm').submit(function () {
        if ($('#hsl_value').val() == 0) {
            toastr.error('Bạn chưa chọn Hệ số lương');
            return false;
        }
    });
</script>