﻿@using QuanLyNhanSu.Data.ViewModel;
@using QuanLyNhanSu.Common.Constants;
@model List<BangLuongTheoThangNam>;

@{ ViewData["Title"] = "Quản lý hợp đồng lao động";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Scripts{
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Bảng lương nhân viên
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Bảng lương nhân viên</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="row" style="margin:10px 10px">
                        <div class="col-md-3 col-xs-3">
                            <label class="control-label">
                                Chọn năm
                            </label>
                            <select class="form-control" id="chonnam">
                                <option value="0">Chọn năm</option>
                                @{ int namnay = DateTime.Now.Year; }
                                <option value="@(namnay)"> @(namnay)</option>
                                <option value="@(namnay-1)"> @(namnay-1)</option>
                                <option value="@(namnay-2)"> @(namnay-2)</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <label class="control-label">
                                Chọn tháng
                            </label>
                            <select class="form-control" id="chonthang">
                                <option value="0">Chọn tháng</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">Tháng @i</option>
}
                            </select>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <label class="control-label">
                                .
                            </label>
                            <button style="width: 100%; height: calc(3.5rem + 2px); " type="button" onclick="Search()" class="btn btn-success">
                                <i class="fa fa-search" title="Tìm kiếm"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">
                        <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Nhân viên</th>
                                        <th style="text-align:center">Lương hợp đồng</th>
                                        <th style="text-align:center">Phụ cấp</th>
                                        <th style="text-align:center">Phúc lợi</th>
                                        <th style="text-align:center">Thưởng</th>
                                        <th style="text-align:center">Phạt</th>
                                        <th style="text-align:center">Tạm tính</th>
                                        <th style="text-align:center">Trạng thái</th>
                                        <th style="text-align:center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            if (item.bangluong.Id != 0 && item.hopdong.TrangThai == 1)
                                            {
                                                <tr class="hopdong_active">
                                                    <th style="text-align:center">@item.nhanvien.Ten (@item.nhanvien.IdCBNV)</th>
                                                    <th style="text-align:center">Lương CB @Utility.ConvertToCurrencyVND(item.hopdong.LuongCB) <br />Hệ số lương: @item.hesoluong.HeSo </th>
                                                    <th style="text-align:center">@Utility.ConvertToCurrencyVND(item.bangluong.TienPhuCap)</th>
                                                    <th style="text-align:center">@Utility.ConvertToCurrencyVND(item.bangluong.TienPhucLoi)</th>
                                                    <th style="text-align:center">@Utility.ConvertToCurrencyVND(item.bangluong.TienThuong)</th>
                                                    <th style="text-align:center">@Utility.ConvertToCurrencyVND(item.bangluong.TienPhat)</th>
                                                    <th style="text-align:center">@Utility.ConvertToCurrencyVND(item.bangluong.TongLuong)</th>
                                                    <th style="text-align:center">
                                                        @switch (item.bangluong.TrangThai)
                                                        {
                                                            case SystemConstants.Web.TRANGTHAI_BANGLUONG_CHUACO:
                                                                <span>Chưa có</span>
                                                                break;
                                                            case SystemConstants.Web.TRANGTHAI_BANGLUONG_TAMTINHLUONG:
                                                                <span>Tạm tính lương</span>
                                                                break;
                                                            case SystemConstants.Web.TRANGTHAI_BANGLUONG_TAOMOI:
                                                                <span>Tạo mới</span>
                                                                break;
                                                            case SystemConstants.Web.TRANGTHAI_BANGLUONG_THANHTOAN:
                                                                <span>Thanh toán</span>
                                                                break;
                                                            default:
                                                                <span>Không xác định</span>
                                                                break;
                                                        }
                                                    </th>
                                                    <th style="text-align:center">
                                                        @if (item.bangluong.TrangThai != SystemConstants.Web.TRANGTHAI_BANGLUONG_THANHTOAN)
                                                        {
                                                            <a onclick="TinhLuong('@item.bangluong.Id', '@item.hopdong.LuongCB', '@item.hesoluong.HeSo')" style="color:white" class="btn btn-round btn-info">Tạm tính lương</a>
                                                            <a onclick="ThuongPhat('@item.bangluong.Id')" style="color:white" class="btn btn-round btn-info">Thưởng / phạt</a>
                                                            <a onclick="NhanLuong('@item.bangluong.Id','@SystemConstants.Web.TRANGTHAI_BANGLUONG_THANHTOAN')" style="color:white" class="btn btn-round btn-info">Nhận lương</a>
                                                            @*<a data-toggle="modal" data-target="#modaltrangthai" onclick="SuaTrangThai('@item.bangluong.Id', '@item.bangluong.TrangThai')" style="color:white; background-color:yellow" class="btn btn-round btn-info">Sửa trạng thái</a>*@

                                                        }
                                                    </th>
                                                </tr>
 }
                                            else if (item.hopdong.TrangThai != 1)
                                            {
                                                <tr class="hopdong_active">
                                                    <th style="text-align:center">@item.nhanvien.Ten (@item.nhanvien.IdCBNV)</th>
                                                    <th style="text-align:center">Chưa có hợp đồng</th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"> <a href="@Url.Action("Create", "LichSuHopDong", new { id = item.nhanvien.Id })" class="btn btn-round btn-info">Tạo hợp đồng</a></th>
                                                </tr>
 }
                                            else
                                            {
                                                <tr class="hopdong_active">
                                                    <th style="text-align:center">@item.nhanvien.Ten (@item.nhanvien.IdCBNV)</th>
                                                    <th style="text-align:center">Lương CB @item.hopdong.LuongCB <br />Hệ số lương: @item.hesoluong.HeSo </th>
                                                    <th style="text-align:center">Chưa có bảng lương</th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"></th>
                                                    <th style="text-align:center"> <a onclick="TaoBangLuong('@item.nhanvien.Id', '@ViewBag.Thang', '@ViewBag.Nam', '@item.hopdong.Id')" class="btn btn-round btn-info">Tạo bảng lương</a></th>
                                                </tr>
}
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <script>
                            $('#example2').dataTable({
                                "pageLength": 10,
                                "stateSave": true,
                                "order": [],
                            });
                        </script>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modaltrangthai" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sửa trạng thái bảng lương</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <input hidden id="IdTrangthaiEdit" />
                        <label class="control-label">Trạng thái</label>
                        <div class="demo-radio-button">
                            <input name="trangthai" value="@SystemConstants.Web.TRANGTHAI_BANGLUONG_CHUACO" type="radio" id="tt1" checked="">
                            <label for="tt1">Chưa có</label>
                            <input name="trangthai" value="@SystemConstants.Web.TRANGTHAI_BANGLUONG_TAMTINHLUONG" type="radio" id="tt2" checked="">
                            <label for="tt2">Tạm tính</label>
                            <input name="trangthai" value="@SystemConstants.Web.TRANGTHAI_BANGLUONG_TAOMOI" type="radio" id="tt3" checked="">
                            <label for="tt3">Tạo mới</label>
                            <input name="trangthai" value="@SystemConstants.Web.TRANGTHAI_BANGLUONG_THANHTOAN" type="radio" id="tt4" checked="">
                            <label for="tt4">Thanh toán</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnTrangThaiEdit" class="btn btn-success" data-dismiss="modal">Cập nhật</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalthuongphat" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thường phạt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <input hidden id="IdBangLuongTP" />
                        <label class="control-label">Số tiền thưởng</label>
                        <div class="controls">
                            <input type="number" class="form-control" id="sotienthuong" name="sotienthuong"> <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số tiền phạt</label>
                        <div class="controls">
                            <input type="number" class="form-control" id="sotienphat" name="sotienphat"> <div class="help-block"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnThuongPhat" class="btn btn-success" data-dismiss="modal">Xác nhận</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        $('#chonnam').val(@ViewBag.Nam);
        $('#chonthang').val(@ViewBag.Thang);
    });
    function SuaTrangThai(idbangluong, trangthaihientai) {
        $('#IdTrangthaiEdit').val(idbangluong);
        $("input[type=radio][name=trangthai][value=" + trangthaihientai + "]").prop('checked', true);

    }
    function ThuongPhat(bangluongId) {
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThuongPhat", "BangLuong")',
                    type: "get",
                    data: { bangluongId: bangluongId},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Cập nhật thành công');
                            setTimeout(function () {
                                location.reload();
                            }, 500)
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    }
    $('#btnTrangThaiEdit').click(function () {
        var id = $('#IdTrangthaiEdit').val();
        var trangthai = $('input[type=radio][name=trangthai]:checked').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("SuaTrangThai", "BangLuong")',
                    type: "get",
                    data: { id: id, trangthai: trangthai},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Cập nhật thành công');
                            setTimeout(function () {
                                location.reload();
                            }, 500)
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    function NhanLuong(id, trangthai) {
         $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("SuaTrangThai", "BangLuong")',
                    type: "get",
                    data: { id: id, trangthai: trangthai},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Cập nhật thành công');
                            setTimeout(function () {
                                location.reload();
                            }, 500)
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    }
    $('#btnThuongPhat').click(function () {
        var bangluongId = $('#IdBangLuongTP').val();
        var tienthuong = $('#sotienthuong').val();
        var tienphat = $('#sotienphat').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThuongPhat", "BangLuong")',
                    type: "get",
                    data: { bangluongId: bangluongId, tienthuong: tienthuong, tienphat: tienphat},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Cập nhật thành công');
                            setTimeout(function () {
                                location.reload();
                            }, 500)
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

     })

    function Search() {
        var nam = $('#chonnam').val();
        var thang = $('#chonthang').val();
        if (nam == 0) {
            toastr.error('Bạn chưa chọn năm');
            return false;
        }
        if (thang == 0) {
            toastr.error('Bạn chưa chọn tháng');
            return false;
        }
        var url = location.hostname +':'+location.port+'@Url.Action("Index", "BangLuong").Trim()'+'?thang=' + thang + '&nam=' + nam;
        //console.log(url);
        window.location = 'https://'+url;
    }
    function TaoBangLuong(idnv, thang, nam, idhopdong){
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("TaoBangLuong", "BangLuong")',
                    type: "get",
                    data: { idnv: idnv, thang: thang, nam: nam, idhopdong: idhopdong },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            setTimeout(function () {
                                location.reload();
                            }, 500)
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    }
    function TinhLuong(bangluongId,luongCB,heso){
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("TinhLuong", "BangLuong")',
                    type: "get",
                    data: { bangluongId: bangluongId, luongCB: luongCB, heso: heso },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thành công');
                            setTimeout(function () {
                                location.reload();
                            }, 500)
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    }

</script>