﻿@using QuanLyNhanSu.Model.Entities
@model List<DM_ChiNhanhNganHang>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Mã Chi Nhánh</th>
                <th style="text-align:center">Tên Chi Nhánh</th>
                <th style="text-align:center">Tên Ngân Hàng</th>
                <th style="text-align:center">Ghi Chú</th>
                <th style="text-align:center">Trạng thái</th>
                <th style="text-align:center">Thao tác</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaChiNhanh</td>
                        <td>@item.TenChiNhanh</td>
                        <td>@item.TenNganHang</td>
                        <td>@item.GhiChu</td>
                        @if (item.TrangThai == 1)
                        {
                            <td>Kích hoạt</td>
                        }
                        else
                        {
                            <td>Khóa kích hoạt</td>
                        }
                        <td style="text-align:center">
                            <button type="button" onclick="opendetail('@item.Id', '@item.MaChiNhanh', '@item.TenChiNhanh', '@item.MaNganHang', '@item.GhiChu', '@item.TrangThai')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Sửa</button>
                            <button type="button" onclick="confirmremove(@item.Id)" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>