﻿@using QuanLyNhanSu.Model.Entities;
@{
    ViewData["Title"] = "Danh mục Chi Nhánh Ngân Hàng";
    List<DM_NganHang> lst = (List<DM_NganHang>)ViewBag.LISTNGANHANG;
}
@section Scripts{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục Chi Nhánh Ngân Hàng
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Danh mục Chi Nhánh Ngân Hàng</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="">
                        <div class="row" style="margin:10px 15px;float:right">
                            <button type="button" data-toggle="modal" data-target="#modeladd" class="btn btn-success">
                                <i class="fa fa-plus" title="thêm mới"></i>
                                Thêm mới
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Sửa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="IdEdit" hidden value="" />
                <div class="form-group">
                    <h5>Mã Chi Nhánh<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="ma_edit" name="ma_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Tên Chi Nhánh<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name_edit" name="name_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5> Ngân hàng<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="idnganhang_edit">
                            <option value="0">---Chọn ngân hàng---</option>
                            < @foreach (var item in lst)
                            {
                                <option value="@item.Id">@item.TenNganHang</option>
                            }
                        </select>
                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Ghi Chú</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="ghichu_edit" name="ghichu_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="trangthai_edit">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Sửa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeladd" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Tên Chi Nhánh<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name" name="name" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5> Ngân hàng<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="idnganhang">
                            <option value="0">---Chọn ngân hàng---</option>
                            < @foreach (var item in lst)
                            {
                                <option value="@item.Id">@item.TenNganHang</option>
                            }
                        </select>
                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Ghi Chú</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="ghichu" name="ghichu" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="trangthai">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnAdd" class="btn btn-success" data-dismiss="modal">Thêm</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa cấu hình</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        LoadListData();
    });

    function LoadListData() {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "DM_ChiNhanhNganHang")',
            type: "GET",
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
  function confirmremove(id) {
        $('#IdXoa').val(id);
    }
    function opendetail(id,ma, name,idnganhang, ghichu,trangthai) {
        $('#IdEdit').val(id);
        $('#ma_edit').val(ma);
        $('#name_edit').val(name);
        $('#idnganhang_edit').val(idnganhang);
        $('#ghichu_edit').val(ghichu);
        $('#trangthai_edit').val(trangthai);
    }
    $('#btnAdd').click(function () {
        var name = $('#name').val();
        var idnganhang = $('#idnganhang').val();
        var ghichu = $('#ghichu').val();
        var trangthai = $('#trangthai').val();
        if (name == "") {
            toastr.error('Tên chí nhánh không được để trống');
            return false;
        }
        if (idnganhang == 0) {
            toastr.error('Bạn chưa chọn ngân hàng');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThemMoi", "DM_ChiNhanhNganHang")',
                    type: "get",
                    data: { name: name, idnganhang: idnganhang, ghichu: ghichu, trangthai: trangthai },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            $('#name').val();
                            $('#idnganhang').val(0);
                            $('#ghichu').val();
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    })
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "DM_ChiNhanhNganHang")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    $('#btnEdit').click(function () {
        var id=$('#IdEdit').val();
        var ma = $('#ma_edit').val();
        var name = $('#name_edit').val();
        var idnganhang = $('#idnganhang_edit').val();
        var ghichu = $('#ghichu_edit').val();
        var trangthai = $('#trangthai_edit').val();
        if (name == "") {
            toastr.error('Tên chi nhánh không được để trống');
            return false;
        }
        if (idnganhang == 0) {
            toastr.error('Bạn chưa chọn ngân hàng');
            return false;
        }

        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Sua", "DM_ChiNhanhNganHang")',
                    type: "get",
                    data: { id: id, ma: ma, name: name, idnganhang: idnganhang, ghichu: ghichu, trangthai: trangthai},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            $('#IdEdit').val();
                            $('#ma_edit').val();
                            $('#name_edit').val();
                            $('#idnganhang_edit').val(0);
                            $('#ghichu_edit').val();
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
