﻿@using QuanLyNhanSu.Model.Entities
@model List<DM_NganHang>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Mã ngân hàng</th>
                <th style="text-align:center">Tên ngân hàng</th>
                <th style="text-align:center">Tên viết tắt</th>
                <th style="text-align:center">Trạng thái</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>@item.MaNganHang</td>
                <td>@item.TenNganHang</td>
                <td>@item.TenVietTat</td>
                @if (item.TrangThai == 1)
                {
                    <td>Kích hoạt</td>
                }
                else
                {
                    <td>Khóa kích hoạt</td>
                }
                <td style="text-align:center">
                    <button type="button" onclick="opendetail('@item.Id', '@item.MaNganHang', '@item.TenNganHang', '@item.TenVietTat', '@item.TrangThai')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Sửa</button>
                    <button type="button" onclick="confirmremove(@item.Id)" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                </td>
            </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>