﻿@using QuanLyNhanSu.Web.Models;
@using QuanLyNhanSu.Model.Entities;
@model NhanVienViewModel;

@{ ViewData["Title"] = "Thêm mới Hồ sơ nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<QuanLyNhanSu.Data.ViewModel.DonVi_ChucDanhViewModel> lstCD = (List<QuanLyNhanSu.Data.ViewModel.DonVi_ChucDanhViewModel>)ViewBag.lstDM_CD;
    List<PhongBan> lstPB = (List<PhongBan>)ViewBag.lstDM_PB;
    List<DM_TinhThanh> lstTT = (List<DM_TinhThanh>)ViewBag.lstDM_TT;
    }

@section Scripts{
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hồ sơ nhân viên
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","NhanVien")"><i class="fa fa-dashboard"></i> Hồ sơ nhân viên</a></li>
            <li class="breadcrumb-item active">Thêm mới</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form asp-action="Create" id="createForm" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="control-label">Tên nhân viên</label>
                                <input asp-for="Ten" class="form-control" />
                                <span asp-validation-for="Ten" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Ngày sinh</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input asp-for="NgaySinh" type="date" class="form-control pull-right" id="datepicker">
                                    </div>
                                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Giới tính</label>
                                    <div class="demo-radio-button" style="display:flex">
                                        <input name="gioitinh" value="Nam" type="radio" id="gioitinhNam" checked="">
                                        <label for="gioitinhNam">Nam</label>
                                        <input name="gioitinh" value="Nữ" type="radio" id="gioitinhNu">
                                        <label for="gioitinhNu">Nữ</label>
                                    </div>
                                    <input hidden id="gioitinh_value" value="Nam" asp-for="GioiTinh">
                                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 col-xs-12">
                                    <label class="control-label">Tỉnh thành</label>
                                    <select class="form-control" id="tinhthanh">
                                        <option value="0">Tỉnh thành</option>
                                        @if (lstTT != null)
                                        {
                                            foreach (var item in lstTT)
                                            {
                            <option value="@item.MaTinhThanh">@item.TenTinhThanh</option>
}
                    }
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-xs-12">
                                    <label class="control-label">Quận huyện</label>
                                    <select class="form-control" id="quanhuyen">
                                        <option value="0">Chọn quận huyện</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-xs-12">
                                    <label class="control-label">Phường xã</label>
                                    <select class="form-control" id="xaphuong">
                                        <option value="0">Chọn xã phường</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <label class="control-label">Địa chỉ</label>
                                    <input asp-for="DiaChi" type="text" id="diachi" class="form-control" />
                                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 col-xs-4">
                                    <label class="control-label">Số CMND/CCCD</label>
                                    <input asp-for="CanCuoc_CMND" type="text" class="form-control" />
                                    <span asp-validation-for="CanCuoc_CMND" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4 col-xs-4">
                                    <label class="control-label">Nơi cấp</label>
                                    <input asp-for="NoiCap" type="text" class="form-control" />
                                    <span asp-validation-for="NoiCap" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4 col-xs-4">
                                    <label class="control-label">Ngày cấp</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input asp-for="NgayCap" type="date" class="form-control pull-right" id="datepicker">
                                    </div>
                                    <span asp-validation-for="NgayCap" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" type="email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Chức danh</label>
                                    <select class="form-control" id="chucdanh">
                                        <option value="0">Chọn chức danh</option>
                                        @if (lstCD != null)
                                        {
                                            foreach (var item in lstCD)
                                            {
                            <option value="@item.ChucDanh.Id">@item.ChucDanh.TenChucDanh - @item.DonVi.TenDonVi</option>
}
                    }
                                    </select>
                                    <input hidden id="chucdanh_value" value="0" asp-for="ChucDanh">

                                </div>
                                <div class="form-group col-md-6 col-xs-6">
                                    <label class="control-label">Phòng ban</label>
                                    <select class="form-control" id="phongban">
                                        <option value="0">Chọn phòng ban</option>
                                        @if (lstPB != null)
                                        {
                                            foreach (var item in lstPB)
                                            {
                            <option value="@item.Id">@item.TenPhongBan</option>}
                                        }
                                    </select>
                                    <input hidden id="phongban_value" value="0" asp-for="PhongBan">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Trạng thái</label>
                                <select class="form-control" id="tranghtai">
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Thôi việc</option>
                                </select>
                                <input hidden id="trangthai_value" value="1" asp-for="TrangThai">
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Index","NhanVien")" class="btn btn-warning">Quay lại</a>
                                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<script>
    $('input[type=radio][name=gioitinh]').change(function () {
        $('#gioitinh_value').val(this.value);
    });
    $('#chucdanh').change(function () {
        $('#chucdanh_value').val(this.value);
    });
    $('#phongban').change(function () {
        $('#phongban_value').val(this.value);
    });
    $('#trangthai').change(function () {
        $('#trangthai_value').val(this.value);
    });
    $('#tinhthanh').on('change', function () {
        var div_render = 'quanhuyen';
        LoadListDist(this.value, div_render);
    });
    $('#quanhuyen').on('change', function () {
        var div_render = 'xaphuong';
        LoadListWard(this.value, div_render);
    });

    function LoadListDist(matinhthanh, div_render) {
        $('#divProcessing').show();
        $.ajax({
            url: '@Url.Action("LoadListDist", "DM_XaPhuong")',
            type: "GET",
            data: { matinhthanh: matinhthanh },
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $('#' + div_render).empty().html(data);
                $('#divProcessing').hide();
            },
            error: function (error) {
                $('#divProcessing').hide();
                console.log('lỗi load dữ liệu: ' + error.responseText);
            }
        });
    }

    function LoadListWard(maquanhuyen, div_render) {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("LoadListWard", "DM_XaPhuong")',
            type: "GET",
               data: { maquanhuyen: maquanhuyen },
               dataType: "json",
               contentType: 'application/json',
               success: function (data) {
                   $('#' + div_render).empty().html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
    $('#createForm').submit(function () {
        if ($('#tinhthanh').val() == 0) {
            toastr.error('Bạn chưa chọn Tỉnh thành');
            return false;
        }
        if ($('#quanhuyen').val() == 0) {
            toastr.error('Bạn chưa chọn Quận huyện');
            return false;
        }
        if ($('#xaphuong').val() == 0) {
            toastr.error('Bạn chưa chọn Xã phường');
            return false;
        }
        if ($('#chucdanh_value').val() == 0) {
            toastr.error('Bạn chưa chọn chức danh');
            return false;
        }
        if ($('#phongban_value').val() == 0) {
            toastr.error('Bạn chưa chọn phòng ban');
            return false;
        }
        var diachi = $('#diachi').val()+', ' + $("#xaphuong option:selected").text() + ', ' + $("#quanhuyen option:selected").text() + ', ' + $("#tinhthanh option:selected").text();
        $('#diachi').val(diachi)
    });
</script>