﻿@{ ViewData["Title"] = "Danh mục tham số hệ thống"; }
@section Scripts{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục tham số hệ thống
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Danh mục tham số hệ thống</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="">
                        <div class="row" style="margin:10px 15px;float:right">
                            <button type="button" data-toggle="modal" data-target="#modeladd" class="btn btn-success">
                                <i class="fa fa-plus" title="thêm mới"></i>
                                Thêm mới
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Sửa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="Id_edit" name="Id_edit" />
                <div class="form-group">
                    <h5>Mã tham số hệ thống<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mathamso_edit" name="mathamso_edit"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Tên tham số hệ thống<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="tenthamso_edit" name="tenthamso_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Giá trị<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="giatri_edit" name="giatri_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Mô tả</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mota_edit" name="mota_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select id="trangthai_edit">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Sửa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeladd" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Mã tham số hệ thống<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mathamso" name="mathamso"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Tên tham số hệ thống<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="tenthamso" name="tenthamso" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Giá trị<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="giatri" name="giatri" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Mô tả</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mota" name="mota" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select id="trangthai">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnAdd" class="btn btn-success" data-dismiss="modal">Thêm</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        LoadListData();
    });

    function LoadListData() {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "DM_ThamSoHeThong")',
            type: "GET",
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
  function confirmremove(id) {
        $('#IdXoa').val(id);
    }
    function opendetail(id,mathamso,tenthamso,giatri,mota,trangthai) {
        $('#Id_edit').val(id);
        $('#mathamso_edit').val(mathamso);
        $('#tenthamso_edit').val(tenthamso);
        $('#giatri_edit').val(giatri);
        $('#mota_edit').val(mota);
        $('#trangthai_edit').val(trangthai);
    }
    $('#btnAdd').click(function () {
        var mathamso =$('#mathamso').val();
        var tenthamso =$('#tenthamso').val();
        var giatri =$('#giatri').val();
        var mota =$('#mota').val();
        var trangthai = $('#trangthai').val();
        if (mathamso == '' || tenthamso == '' || giatri == '') {
            toastr.error('Không được để trống!');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThemMoi", "DM_ThamSoHeThong")',
                    type: "get",
                    data: { mathamso: mathamso, tenthamso: tenthamso, giatri: giatri, mota: mota, trangthai: trangthai },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            $('#mathamso').val('');
                            $('#tenthamso').val('');
                            $('#giatri').val('');
                            $('#mota').val('');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    })
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "DM_ThamSoHeThong")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    $('#btnEdit').click(function () {
        debugger
        var id = $('#Id_edit').val();
        var mathamso = $('#mathamso_edit').val();
        var tenthamso = $('#tenthamso_edit').val();
        var giatri = $('#giatri_edit').val();
        var mota = $('#mota_edit').val();
        var trangthai = $('#trangthai').val();
        if (mathamso == '' || tenthamso == '' || giatri == '') {
            toastr.error('Không được để trống!');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Sua", "DM_ThamSoHeThong")',
                    type: "get",
                    data: { id: id, mathamso: mathamso, tenthamso: tenthamso, giatri: giatri, mota: mota, trangthai: trangthai},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
