﻿@using QuanLyNhanSu.Model.Entities
@model List<LogNhanVien>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>

<!-- start - This is for export functionality only -->
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js"></script>

<div class="table-responsive">
    <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Nhân viên</th>
                <th style="text-align:center" width="50%">Hành động</th>
                <th style="text-align:center">Tạo lúc</th>
                <th style="text-align:center">Tạo bởi</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TenNhanVien <br /> MNV:@item.MaNhanVien</td>
                        <td>@item.HanhDong: <span class="text-warning">@item.Old</span> -> <span class="text-success">@item.New</span></td>
                        <td>@item.TaoLuc.ToString("MM/dd/yyyy")</td>
                        <td>@item.TaoBoi</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>