﻿@{ ViewData["Title"] = "Thống kê thay đổi hợp đồng"; }
@section Scripts{
}
@using QuanLyNhanSu.Common.Constants

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Thống kê thay đổi hợp đồng
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Thống kê thay đổi hợp đồng</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-3 col-xs-6">
                                <label class="control-label">Từ ngày</label>
                                <div class="input-group date">
                                    <input type="date" class="form-control pull-right" id="tungay">
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-xs-6">
                                <label class="control-label">Đến ngày</label>
                                <div class="input-group date">
                                    <input type="date" class="form-control pull-right" id="denngay">
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-xs-6">
                                <label style=" width: 100%;" class="control-label">.</label>
                                <button class="btn btn-success" onclick="LoadListData()">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        var today = new Date();
        var month = (today.getMonth() + 1);
        var day = today.getDate();
        if (month < 10) {
            month = '0' + month;
        }
        if (day < 10) {
            day = '0' + day;
        }
        var date = today.getFullYear() + '-' + month + '-' + day;
        $("#tungay").val(date);
        $("#denngay").val(date);
        LoadListData();
    });

    function LoadListData() {
        var type = '@SystemConstants.Web.LOAILOG_HOPDONG';
        var TuNgay = $("#tungay").val();
        var DenNgay = $("#denngay").val();
        $('#divProcessing').show();
           $.ajax({
               url: '@Url.Action("GetData", "LogNhanVien")',
               data: { TuNgay: TuNgay, DenNgay: DenNgay, type: type },
               type: "GET",
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
</script>
