﻿@using QuanLyNhanSu.Data.ViewModel;
@model List<NhanVien_HopDongViewModel>;

@{ ViewData["Title"] = "Quản lý hợp đồng lao động";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Scripts{
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hồ sơ nhân viên
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Hồ sơ nhân viên</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    @*<div class="">
                        <div class="row" style="margin:10px 15px;float:right">
                            <a href="@Url.Action("Create","NhanVien")" class="btn btn-success">
                                <i class="fa fa-plus" title="thêm mới"></i>
                                Thêm mới
                            </a>
                        </div>
                    </div>*@
                    <div class="box-body" id="_partialData">
                        <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Nhân viên</th>
                                        <th style="text-align:center">Loại hợp đồng</th>
                                        <th style="text-align:center">Mã hợp đồng</th>
                                        <th style="text-align:center">Ngày bắt đầu</th>
                                        <th style="text-align:center">Ngày kết thúc</th>
                                        <th style="text-align:center">Ngày ký</th>
                                        <th style="text-align:center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            if (!item.TenLoaiHD.Equals(""))
                                            {
                                                <tr class="hopdong_active">
                                                    <td>@item.TenNV <br /> @item.Email</td>
                                                    <td>@item.TenLoaiHD</td>
                                                    <td>@item.MaHopDong</td>
                                                    <td>@item.NgayBatDau.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.NgayKetThuc.ToString("MM/dd/yyyy")</td>
                                                    <td>@item.NgayKy.ToString("MM/dd/yyyy")<br/>@item.NguoiKy</td>                                                    
                                                    <td style="text-align:center">
                                                        <a href="@Url.Action("Edit", "LichSuHopDong", new { id = item.Id })" class="btn btn-round btn-info">Sửa hợp đồng</a>
                                                        <button type="button" onclick="confirmremove('@item.Id')" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa hợp đồng</button>
                                                    </td>
                                                </tr> 
                                            }
                                            else
                                            {
                                                <tr class="hopdong_noactive">
                                                    <td>@item.TenNV / @item.Email</td>
                                                    <td>Chưa có hợp đồng</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="text-align:center">
                                                        <a href="@Url.Action("Create", "LichSuHopDong", new { id = item.IdNhanVien })" class="btn btn-round btn-info">Tạo hợp động</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <script>
                            $('#example2').dataTable({
                                "pageLength": 10,
                                "stateSave": true,
                                "order": [],
                            });
                        </script>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa cấu hình</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    function confirmremove(id) {
        $('#IdXoa').val(id);
    }
        $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "LichSuHopDong")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            setTimeout(function () {
                                location.reload();
                            }, 1000)
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })

</script>