﻿@using QuanLyNhanSu.Data.ViewModel;
@using QuanLyNhanSu.Common.Constants;
@model List<NhanVien_TSCP_DetailViewModel>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Tên nhân viên</th>
                <th style="text-align:center">Tài sản cấp phát</th>
                <th style="text-align:center">Ngày cấp</th>
                <th style="text-align:center">Trạng thái</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nhanVien.Ten</td>
                        @if (item.dM_TaiSanCapPhats.Count > 0)
                        {
                            <td>
                                @foreach (var tscp in item.dM_TaiSanCapPhats)
                                {
                                    <p>@tscp.MaTaiSanCapPhat - @tscp.TenTaiSanCapPhat - Số lượng : @tscp.SoLuong</p>
                                }
                            </td>
                            <td>@item.nhanVien_TSCP.NgayTao</td>

                            <td>
                                @if (item.nhanVien_TSCP.TrangThai == 1)
                                {
                                    <span>Đang cho mượn</span>
                                }
                                else if (item.nhanVien_TSCP.TrangThai == 0)
                                {
                                    <span>Đã trả</span>
                                }
                                else
                                {
                                    <span>Không xác định</span>
                                }
                            </td>
                            <td style="text-align:center">
                                <button type="button" onclick="opendetail('@item.nhanVien.Id', '@item.nhanVien.Ten (@item.nhanVien.IdCBNV)', '@item.nhanVien_TSCP.NoiDung','@item.nhanVien_TSCP.Id','Edit')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Cập nhật tài sản</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                Chưa được cấp phát tài sản
                            </td>
                            <td></td>
                            <td></td>
                            <td style="text-align:center">
                                <button type="button" onclick="opendetail('@item.nhanVien.Id', '@item.nhanVien.Ten (@item.nhanVien.IdCBNV)', '@item.nhanVien_TSCP.NoiDung','@item.nhanVien_TSCP.Id','Create')" class="btn btn-round btn-warning" data-toggle="modal" data-target="#modeldetail" title="Sửa">Thêm tài sản</button>
                            </td>
                        }

                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>
