﻿@using QuanLyNhanSu.Model.Entities
@model List<TaiSanCapPhatViewModel>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/jquery/dist/jquery.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>
<style>
    #example2 > tbody > tr > td {
        padding: 5px !important;
    }

    .tscp_id {
        opacity: 1 !important;
        position: initial !important;
    }
</style>

<div class="table-responsive">
    <table id="example2" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th style="text-align:center" width="20%">Mã tài sản cấp phát</th>
                <th style="text-align:center">Tên tài sản cấp phát</th>
                <th style="text-align:center" width="20%">Số lượng</th>
                <th style="text-align:center">Mô tả</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {


                    <tr>
                        <td style="text-align:center">
                            @if (item.SoLuong != 0)
                            {
                                <input class="tscp_id" id="tscp_@item.Id" type="checkbox" data="@item.Id" checked="checked" value="@item.MaTaiSanCapPhat">
                            }
                            else
                            {
                                <input class="tscp_id" id="tscp_@item.Id" type="checkbox" data="@item.Id" value="@item.MaTaiSanCapPhat">
                            }
                        </td>
                        <td>@item.MaTaiSanCapPhat</td>
                        <td>@item.TenTaiSanCapPhat</td>
                        <td>
                            <input class="tscp_sl" id="tscp_sl_@item.Id" type="number" value="@item.SoLuong">
                        </td>
                        <td>@item.MoTa</td>
                        <td style="text-align:center">
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<script>
    var lstId = "";
    $('input[type=checkbox][class=tscp_id]').change(function () {
        if ($(this).is(":checked")) {
            $(this).attr("checked");
        }
    });
</script>
<script>
    $('#example2').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>