﻿@{ ViewData["Title"] = "Cấp phát tài sản cho nhân viên"; }
@section Scripts{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cấp phát tài sản cho nhân viên
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Cấp phát tài sản cho nhân viên</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Cấp phát tài sản</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="Id_edit" name="Id_edit" />
                <input hidden id="ObjId_edit" name="ObjId_edit" />
                <input hidden id="type" name="type" />
                <div class="form-group">
                    <h5>Nhân viên<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" disabled class="form-control" id="ten_nv" name="ten_nv" readonly> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Nội dung(Ghi chú)<span class="text-danger"></span></h5>
                    <div class="controls">
                        <textarea type="text" rows="3" class="form-control" id="noidung" name="noidung"></textarea> <div class="help-block"></div>
                    </div>
                </div>
                <div id="lst_tscp">

                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Cập nhật</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.content-wrapper -->
<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        LoadListData();
    });
    function opendetail(id, tennv, noidung,objId,type) {
        $('#noidung').val(noidung);
        $('#type').val(type);
        $('#ten_nv').val(tennv);
        $('#Id_edit').val(id);
        $('#ObjId_edit').val(objId);
        $('#divProcessing').show();
        $.ajax({
            url: '@Url.Action("GetListTSCP", "NhanVien_TSCP")',
            type: "GET",
            dataType: "html",
            data: {id:id},
            success: function (data) {
                $('#lst_tscp').html('');
                $('#lst_tscp').html(data);
                $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
    function LoadListData() {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "NhanVien_TSCP")',
            type: "GET",
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
    $('#btnEdit').click(function () {
        var type = $('#type').val();
        if (type == 'Create') {
            var id = $('#Id_edit').val();
        }
        else {
            var id = $('#ObjId_edit').val();
        }
        var noidung = $('#noidung').val();
        var id_tscp = "";
        var lstcheckbox = $("input[type='checkbox'].tscp_id:checked");
        var check = true;
        lstcheckbox.each(function () {
            var soluong = 0;
            var namediv = 'tscp_sl_'+$(this).attr('data');
            soluong = $('#' + namediv).val();
            if (soluong==0) {
                check = false;
                return false;
            }
            id_tscp += $(this).val() +':'+soluong +';';
        });
        if (!check) {
            toastr.error("Số lượng không được để trống");
            return false;
        }
        if (id == '') {
            toastr.error('Lỗi');
            return false;
        }
        id_tscp = id_tscp.substring(0, id_tscp.length - 1);
        
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("CapNhat", "NhanVien_TSCP")',
                    type: "get",
                    data: { id: id, id_tscp: id_tscp, noidung: noidung, type: type},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
