﻿@using QuanLyNhanSu.Data.ViewModel
@model List<DonVi_ChucDanhViewModel>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Mã Chức Danh</th>
                <th style="text-align:center">Tên Chức Danh</th>
                <th style="text-align:center">Mô Tả</th>
                <th style="text-align:center">Đơn vị</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>@item.ChucDanh.MaChucDanh</td>
                <td>@item.ChucDanh.TenChucDanh</td>
                <td>@item.ChucDanh.MoTa</td>
                <td>@item.DonVi.TenDonVi.</td>

                <td style="text-align:center">
                    <button type="button" onclick="opendetail('@item.ChucDanh.Id', '@item.ChucDanh.MaChucDanh', '@item.ChucDanh.TenChucDanh', '@item.ChucDanh.MoTa', '@item.ChucDanh.IdDonVi')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Sửa</button>
                    <button type="button" onclick="confirmremove(@item.ChucDanh.Id)" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                </td>
            </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>