﻿@using QuanLyNhanSu.Model.Entities
@model List<DM_PhucLoi>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Mã phúc lợi</th>
                <th style="text-align:center">Tên phúc lợi</th>
                <th style="text-align:center">Số tiền trước thuế</th>
                <th style="text-align:center">Ngày hiệu lực</th>
                <th style="text-align:center">Ngày hết hiệu lực</th>
                <th style="text-align:center">Nguồn chi</th>
                <th style="text-align:center">Mức chi tối đa</th>
                <th style="text-align:center">Trạng thái</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>@item.MaCheDoPhucLoi</td>
                <td>@item.TenPhucLoi</td>
                <td>@item.SoTienTruocThue</td>
                <td>@item.NgayHieuLuc.ToString("dd-MM-yyyy")</td>
                <td>@item.NgayHetHieuLuc.ToString("dd-MM-yyyy")</td>
                <td>@item.NguonChi</td>
                <td>@item.MucChiToiDa</td>
                @if (item.TrangThai == 1)
                {
                    <td>Kích hoạt</td>
                }
                else
                {
                    <td>Khóa kích hoạt</td>
                }
                <td style="text-align:center">
                    <button type="button" onclick="opendetail('@item.Id', '@item.MaCheDoPhucLoi', '@item.TenPhucLoi', '@item.SoTienTruocThue', '@item.NgayHieuLuc.ToString("yyyy-MM-dd")', '@item.NgayHetHieuLuc.ToString("yyyy-MM-dd")', '@item.NguonChi', '@item.MucChiToiDa', '@item.TrangThai')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Sửa</button>
                    <button type="button" onclick="confirmremove(@item.Id)" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                </td>
            </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>