﻿@{ ViewData["Title"] = "Danh mục phúc lợi"; }
@section Scripts{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục phúc lợi
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Danh mục phúc lợi</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="">
                        <div class="row" style="margin:10px 15px;float:right">
                            <button type="button" data-toggle="modal" data-target="#modeladd" class="btn btn-success">
                                <i class="fa fa-plus" title="thêm mới"></i>
                                Thêm mới
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Sửa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="Id_edit" name="Id_edit" />
                <div class="form-group">
                    <h5>Mã phúc lợi<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="ma_edit" name="ma_edit" readonly> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Tên phúc lợi<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name_edit" name="name_edit"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Số tiền trước thuế<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="sttt_edit" name="sttt_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Ngày hiệu lực</h5>
                    <div class="controls">
                        <input type="date" class="form-control" id="ngayhieuluc_edit" name="ngayhieuluc_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Ngày hết hiệu lực</h5>
                    <div class="controls">
                        <input type="date" class="form-control" id="ngayhethieuluc_edit" name="ngayhethieuluc_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Nguồn chi</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="nguonchi_edit" name="nguonchi_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Mức chi tối đa</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mucchitoida_edit" name="mucchitoida_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select id="trangthai_edit">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Sửa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeladd" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Tên phúc lợi<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name" name="name"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Số tiền trước thuế<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="sttt" name="sttt" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Ngày hiệu lực</h5>
                    <div class="controls">
                        <input type="date" class="form-control" id="ngayhieuluc" name="ngayhieuluc" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Ngày hết hiệu lực</h5>
                    <div class="controls">
                        <input type="date" class="form-control" id="ngayhethieuluc" name="ngayhethieuluc" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Nguồn chi</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="nguonchi" name="nguonchi" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Mức chi tối đa</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mucchitoida" name="mucchitoida" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select id="trangthai">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnAdd" class="btn btn-success" data-dismiss="modal">Thêm</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        LoadListData();
    });

    function LoadListData() {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "DM_PhucLoi")',
            type: "GET",
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
  function confirmremove(id) {
        $('#IdXoa').val(id);
    }
    function opendetail(id,ma,name, sttt,ngayhieuluc,ngayhethieuluc,nguonchi,mucchitoida,trangthai) {
        $('#Id_edit').val(id);
        $('#name_edit').val(name);
        $('#ma_edit').val(ma);
        $('#sttt_edit').val(sttt);
        $('#ngayhieuluc_edit').val(ngayhieuluc);
        $('#ngayhethieuluc_edit').val(ngayhethieuluc);
        $('#nguonchi_edit').val(nguonchi);
        $('#mucchitoida_edit').val(mucchitoida);
        $('#trangthai_edit').val(trangthai);
    }
    $('#btnAdd').click(function () {
        var sttt =$('#sttt').val();
        var ngayhieuluc =$('#ngayhieuluc').val();
        var ngayhethieuluc =$('#ngayhethieuluc').val();
        var nguonchi =$('#nguonchi').val();
        var mucchitoida =$('#mucchitoida').val();
        var trangthai = $('#trangthai').val();
        var tenphucloi = $('#name').val();
        if (sttt == '' || ngayhieuluc == '' || ngayhethieuluc == '' || nguonchi == '' || tenphucloi == '') {
            toastr.error('Không được để trống!');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThemMoi", "DM_PhucLoi")',
                    type: "get",
                    data: { sttt: sttt, tenphucloi: tenphucloi, ngayhieuluc: ngayhieuluc, ngayhethieuluc: ngayhethieuluc, nguonchi: nguonchi, mucchitoida: mucchitoida, trangthai: trangthai },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            $('#sttt').val('');
                            $('#ngayhieuluc').val('');
                            $('#ngayhethieuluc').val('');
                            $('#nguonchi').val('');
                            $('#mucchitoida').val('');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    })
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "DM_PhucLoi")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    $('#btnEdit').click(function () {
        debugger
        var id = $('#Id_edit').val();
        var ma = $('#ma_edit').val();
        var sttt = $('#sttt_edit').val();
        var ngayhieuluc = $('#ngayhieuluc_edit').val();
        var ngayhethieuluc = $('#ngayhethieuluc_edit').val();
        var nguonchi = $('#nguonchi_edit').val();
        var mucchitoida = $('#mucchitoida_edit').val();
        var trangthai = $('#trangthai_edit').val();
        var tenphucloi = $('#name_edit').val();
        if (sttt == '' || ngayhieuluc == '' || ngayhethieuluc == '' || nguonchi == '' || tenphucloi == '') {
            toastr.error('Không được để trống!');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Sua", "DM_PhucLoi")',
                    type: "get",
                    data: { id: id, ma: ma, sttt: sttt, tenphucloi: tenphucloi, ngayhieuluc: ngayhieuluc, ngayhethieuluc: ngayhethieuluc, nguonchi: nguonchi, mucchitoida: mucchitoida, trangthai: trangthai },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            $('#Id_edit').val();
                            $('#ma_edit').val();
                            $('#sttt_edit').val();
                            $('#ngayhieuluc_edit').val();
                            $('#ngayhethieuluc_edit').val();
                            $('#nguonchi_edit').val();
                            $('#mucchitoida_edit').val();
                            $('#trangthai_edit').val();
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
