﻿@{ ViewData["Title"] = "Danh mục Tỉnh thành"; }
@section Scripts{
}
@{
    var lstQG = (List<QuanLyNhanSu.Model.Entities.DM_QuocGia>)ViewBag.lstQG;
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục Tỉnh thành
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Danh mục Tỉnh thành</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="">
                        <div class="row" style="display:flex;margin:10px 15px;float:right">
                            <button type="button" data-toggle="modal" data-target="#modeladd" class="btn btn-success">
                                <i class="fa fa-plus" title="thêm mới"></i>
                                Thêm mới
                            </button>
                        </div>
                        <div class="row" style="margin:10px 10px">
                            <div class="col-md-3 col-xs-3">
                                <label class="control-label">
                                    Quốc gia
                                </label>
                                <select class="form-control" id="quocgia_load">
                                    <option value="0">Chọn quốc gia</option>
                                    @foreach (var item in lstQG)
                                    {
                                        <option value="@item.MaQuocGia">@item.TenQuocGia</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Sửa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="IdEdit" hidden value="" />
                <div class="form-group">
                    <h5>Quốc gia<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="quocgia_edit">
                            <option value="0">Chọn quốc gia</option>
                            @foreach (var item in lstQG)
                            {
                                <option value="@item.MaQuocGia">@item.TenQuocGia</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Mã Tỉnh thành<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" readonly class="form-control" id="ma_edit" name="ma_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Tên Tỉnh thành<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name_edit" name="name_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="trangthai_edit">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Sửa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeladd" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Quốc gia<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="quocgia_add">
                            <option value="0">Chọn quốc gia</option>
                            @foreach (var item in lstQG)
                            {
                                <option value="@item.MaQuocGia">@item.TenQuocGia</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Tên Tỉnh thành<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name_add" name="name_add" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Trạng thái<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <select class="form-control" id="trangthai_add">
                            <option value="1">Kích hoạt</option>
                            <option value="0">Khóa ích hoạt</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnAdd" class="btn btn-success" data-dismiss="modal">Thêm</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa cấu hình</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        LoadListData(0);
    });
    $('#quocgia_load').on('change', function () {
        LoadListData(this.value);
    });
    function LoadListData(maquocgia) {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "DM_TinhThanh")',
            type: "GET",
               data: { maquocgia: maquocgia },
               dataType: "html",
               contentType: 'application/json',
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
  function confirmremove(id) {
        $('#IdXoa').val(id);
    }
    function opendetail(id,ma,ma_obj, name, stt) {
        $('#IdEdit').val(id);
        $('#ma_edit').val(ma);
        $('#quocgia_edit').val(ma_obj);
        $('#name_edit').val(name);
        $('#trangthai_edit').val(stt)
    }
    $('#btnAdd').click(function () {
        var name = $('#name_add').val();
        var maquocgia = $('#quocgia_add').val();
        var trangthai = $('#trangthai_add').val();
        if (name == "") {
            toastr.error('Không được để trống');
            return false;
        }
        if (maquocgia == 0) {
            toastr.error('Bạn chưa chọn quốc gia');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThemMoi", "DM_TinhThanh")',
                    type: "get",
                    data: { name: name, maquocgia: maquocgia, trangthai: trangthai },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            $('#name_add').val('');
                            LoadListData(maquocgia);
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    })
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        var maquocgia = $("#quocgia_load").val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "DM_TinhThanh")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            LoadListData(maquocgia);
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    $('#btnEdit').click(function () {
        var id=$('#IdEdit').val();
        var name = $('#name_edit').val();
        var ma = $('#ma_edit').val();
        var maquocgia = $('#quocgia_edit').val();
        var trangthai = $('#trangthai_edit').val();
        if (name == "" || ma=="") {
            toastr.error('Không được để trống');
            return false;
        }

        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Sua", "DM_TinhThanh")',
                    type: "get",
                    data: { id: id, ma: ma, maquocgia: maquocgia, name: name, trangthai: trangthai},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            $('#IdEdit').val('');
                            $('#name_edit').val('');
                            LoadListData(maquocgia);
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
