﻿@using QuanLyNhanSu.Data.ViewModel
@using QuanLyNhanSu.Common.Constants;
@model List<KhenThuongViewDetailModel>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js"></script>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center" width="20%">Nhân viên</th>
                <th style="text-align:center">Mô tả</th>
                <th style="text-align:center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nhanVien.Ten</td>
                        <td>
                            @if (item.khenThuongs.Count > 0)
                            {
                                foreach (var item_child in item.khenThuongs)
                                {
                                    <p>- Nội dung: @item_child.NoiDungKhenThuong - Số tiền : @Utility.ConvertToCurrencyVND(item_child.SoTien)</p>
                                }
                            }
                        </td>
                        <td style="text-align:center">
                            <button type="button" onclick="openadd('@item.nhanVien.Id')" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeladd" title="Khen thưởng">Khen thưởng</button>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<script>
    $('#example1').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>