﻿@{ ViewData["Title"] = "Quản lý Kỷ luật"; }
@section Scripts{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Quản lý Kỷ luật
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Quản lý Kỷ luật</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="row" style="margin-top:15px">
                        <div class="col-md-3 col-xs-3" style="margin-left:30px">
                            <label class="control-label">
                                Chọn năm
                            </label>
                            <select class="form-control" id="chonnam">
                                <option value="0">Chọn năm</option>
                                @{ int namnay = DateTime.Now.Year; }
                                <option value="@(namnay)"> @(namnay)</option>
                                <option value="@(namnay-1)"> @(namnay-1)</option>
                                <option value="@(namnay-2)"> @(namnay-2)</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <label class="control-label">
                                Chọn tháng
                            </label>
                            <select class="form-control" id="chonthang">
                                <option value="0">Chọn tháng</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">Tháng @i</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <label class="control-label">
                                .
                            </label>
                            <button style="width: 100%; height: calc(3.5rem + 2px); " type="button" onclick="Search()" class="btn btn-success">
                                <i class="fa fa-search" title="Tìm kiếm"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<div class="modal fade" id="modeladd" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input hidden id="idNV" name="idNV" />
                    <h5>Nội dung Kỷ luật<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="noidung" name="noidung" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Số tiền Kỷ luật<span class="text-danger"></span></h5>
                    <div class="controls">
                        <textarea type="number" class="form-control" rows="3" id="sotien" name="sotien"></textarea> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnAdd" class="btn btn-success" data-dismiss="modal">Thêm</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        Search();
    });
    function Search() {
        var Nam = $('#chonnam').val();
        var Thang = $('#chonthang').val();
         $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "KyLuat")',
               type: "GET",
               data: { Thang: Thang, Nam: Nam },
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
                   toastr.success('Load dữ liệu thành công')
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }

    $('#btnAdd').click(function () {
        var Id = $('#idNV').val();
        var Noidung = $('#noidung').val();
        var Sotien = $('#sotien').val();
        var Nam = $('#chonnam').val();
        var Thang = $('#chonthang').val();
        debugger
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThemMoi", "KyLuat")',
                    type: "get",
                    data: { Id: Id, Noidung: Noidung, Sotien: Sotien, Thang: Thang, Nam: Nam },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            $('#name_add').val('');
                            Search();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    })

    function openadd(id) {
        $('#idNV').val(id);
    }
</script>
