﻿@{ ViewData["Title"] = "Danh mục Bệnh viện"; }
@section Scripts{
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục Bệnh viện
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Danh mục Bệnh viện</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="">
                        <div class="row" style="margin:10px 15px;float:right">
                            <button type="button" data-toggle="modal" data-target="#modeladd" class="btn btn-success">
                                <i class="fa fa-plus" title="thêm mới"></i>
                                Thêm mới
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Sửa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="IdEdit" hidden value="" />
                <div class="form-group">
                    <h5>Mã bệnh viện<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mabenhvien_edit" name="mabenhvien_edit" readonly> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Tên bệnh viện<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name_edit" name="name_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Địa chỉ<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="diachi_edit" name="diachi_edit" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Mô tả</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mota_edit" name="mota_edit"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnEdit" class="btn btn-success" data-dismiss="modal">Sửa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeladd" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Tên bệnh viện<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="name" name="name" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Địa chỉ<span class="text-danger">*</span></h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="diachi" name="diachi" required="required"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Mô tả</h5>
                    <div class="controls">
                        <input type="text" class="form-control" id="mota" name="mota"> <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnAdd" class="btn btn-success" data-dismiss="modal">Thêm</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa cấu hình</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    $(document).ready(function () {
        LoadListData();
    });
    //function setInputFilter(textbox, inputFilter) {
    //    ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
    //        textbox.addEventListener(event, function () {
    //            if (inputFilter(this.value)) {
    //                this.oldValue = this.value;
    //                this.oldSelectionStart = this.selectionStart;
    //                this.oldSelectionEnd = this.selectionEnd;
    //            } else if (this.hasOwnProperty("oldValue")) {
    //                this.value = this.oldValue;
    //                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
    //            } else {
    //                this.value = "";
    //            }
    //        });
    //    });
    //}

    //setInputFilter(document.getElementById("maxp_add"), function (value) {
    //    return /^\d*$/.test(value);
    //});
    //setInputFilter(document.getElementById("minp_add"), function (value) {
    //    return /^\d*$/.test(value);
    //});
    //setInputFilter(document.getElementById("maxp_edit"), function (value) {
    //    return /^\d*$/.test(value);
    //});
    //setInputFilter(document.getElementById("minp_edit"), function (value) {
    //    return /^\d*$/.test(value);
    //});

    function LoadListData() {
        $('#divProcessing').show();
           $.ajax({
            url: '@Url.Action("GetData", "DM_BenhVien")',
            type: "GET",
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
    function confirmremove(id) {
        $('#IdXoa').val(id);
    }
    function opendetail(id, ma, ten,diachi,mota) {
        $('#IdEdit').val(id);
        $('#mabenhvien_edit').val(ma);
        $('#name_edit').val(ten);
        $('#diachi_edit').val(diachi);
        $('#mota_edit').val(mota);
    }
    $('#btnAdd').click(function () {
        var name = $('#name').val();
        var diachi = $('#diachi').val();
        var mota = $('#mota').val();
        if (name == "" || diachi == "") {
            toastr.error('Tên và địa chỉ bệnh viện không được để trống');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThemMoi", "DM_BenhVien")',
                    type: "get",
                    data: { name: name, diachi: diachi, mota: mota },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            $('#name').val('');
                            $('#diachi').val('');
                            $('#mota').val('');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    })
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "DM_BenhVien")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    $('#btnEdit').click(function () {
        var id=$('#IdEdit').val();
        var name = $('#name_edit').val();
        var ma = $('#mabenhvien_edit').val();
        var diachi = $('#diachi_edit').val();
        var mota = $('#mota_edit').val();
        if (name == "" || diachi == "") {
            toastr.error('Tên và địa chỉ bệnh viện không được để trống');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Sua", "DM_BenhVien")',
                    type: "get",
                    data: { id: id, name: name, ma: ma, diachi: diachi, mota: mota},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            $('#IdEdit').val('');
                            $('#mabenhvien_edit').val('');
                            $('#name_edit').val('');
                            $('#diachi_edit').val('');
                            $('#mota_edit').val('');
                            LoadListData();
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
